
.left   { padding-right:  calc(var(--quadrant-size) / 4); }
.right  { padding-left:   calc(var(--quadrant-size) / 4); }
.lib    { padding-top:    calc(var(--quadrant-size) / 4); }
.auth   { padding-bottom: calc(var(--quadrant-size) / 4); }
.center { display:        flex;                           }

