@font-face {
	font-family: i-hate-comic-sans;
	src: url(res/IHateComicSans.ttf);
}

* {
	box-sizing: border-box;
	--quadrant-size: 250px;
	--arrow-height: 20px;
	--arrow-width: calc(var(--arrow-height) * .735294);
}
body {
	font-family: sans-serif;
	font-size: 12pt;
	margin: 0px;
	background: darkgrey;
	flex-direction: column;
	height: 100vh;
}
.controls:before {
	background: linear-gradient(90deg,
		#F9BABA,
		#F9BABA 25%,
		#92D9F8 25%,
		#92D9F8 50%,
		#C8E4BC 50%,
		#C8E4BC 75%,
		#F5F4AB 75%,
		#F5F4AB 100%
	);
	height: 8px;
	width: calc(100% + 10px);
	display: block;
	content: " ";
	margin: -5px -5px 5px -5px;
	border-bottom: 1px solid lightgrey;
}	
main {
	padding-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
}
#compass {
	display: inline-block;
	height: calc(60px + var(--quadrant-size) * 2);
	width: calc(60px + var(--quadrant-size) * 2);
	display: inline-block;
	float: left;
}
.quadrants {
	position: relative;
	margin: 30px;
}
.quadrant {
	box-sizing: border-box;
	height: var(--quadrant-size);
	width: var(--quadrant-size);
	margin: 0px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 5px;
	overflow-wrap: break-word;
}
.quadrant div {
	max-width: 100%;
	overflow-wrap: break-word;
}
.quadrant img {
	max-width: 100%;
	max-height: 100%;
}
.right {
	left: var(--quadrant-size);
	border-left: 1px solid black;
}
.left {
	border-right: 1px solid black;
}
.lib {
	top: var(--quadrant-size);
	border-top: 1px solid black;
}
.auth {
	border-bottom: 1px solid black;
}
.auth.right { background-color: #92d9f8; }
.auth.left { background-color: #f9baba; }
.lib.left { background-color: #c8e4bc; }
.lib.right { background-color: #f5f5a7; }
.center {
	display: none;
	z-index: 50;
	background: lightgrey;
	height: calc(var(--quadrant-size) * .75);
	width: calc(var(--quadrant-size) * .75);
	left: calc(var(--quadrant-size) - (var(--quadrant-size) * .75 / 2));
	top: calc(var(--quadrant-size) - (var(--quadrant-size) * .75 / 2));
	border: 2px solid black;
}
.arrow {
	height: var(--arrow-height);
	width: var(--arrow-width);
	position: absolute;
	z-index: 100;
	user-select: none;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
}
.arrow.up, .arrow.down {
	left: calc(var(--quadrant-size) - var(--arrow-width) / 2);
}
.arrow.up {
	top: calc(var(--arrow-height) / -2);
}
.arrow.down {
	top: calc(2 * var(--quadrant-size) + var(--arrow-height) / -2);
	transform: rotate(180deg);
}
.arrow.left-side, .arrow.right-side {
	top: calc(-1px + var(--quadrant-size) - var(--arrow-width) / 2);
}
.arrow.left-side {
	transform: rotate(-90deg);
	left: calc(var(--arrow-height) / -2);
}
.arrow.right-side {
	transform: rotate(90deg);
	left: calc(2 * var(--quadrant-size) + var(--arrow-height) / -2);
}
.controls {
	background: whitesmoke;
	background: linear-gradient(whitesmoke, #E6E6E6);
	padding: 5px;
	text-align: center;
	box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, .25);
	color: #444444;
}
.hidden {
	display: none;
}
#image-upload {
	display: none;
}
#image-upload-label, button {
	background: linear-gradient(#FAFAFA, #DBDBDB);
	border: 1px solid darkgrey;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	font-size: 12pt;
	margin-left: 2px;
	margin-right: 2px;
	color: #444444;
}
#image-upload-label:active, button:active {
	background: linear-gradient(#E6E6E5,#D1D1CF);
}
select {
	background: white;
	border: 1px solid darkgrey;
	padding: 5px;
	height: 30px;
}
input[type=number] {
	padding: 5px;
	height: 30px;
	border: 1px solid darkgrey;
}
.divider {
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: center;
	width: 2px;
	background: grey;
	display: inline-block;
}
